$primary-font : "Poppins"; //değişken tanımlama
$color1 : rgb(31 24 106);
$color2 : rgba(137, 43, 226, 0.647);
$color3 : rgb(234, 234, 234);
$card-bg-image : url("../img/bg.jpg");
$border-radius : 20px;